.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  display: flex;
  width: 70vw;
}

.gameTitle {
  font-size: xx-large;
  font-weight: 600;
  color: #422800;
}

.gameSubTitle {
  font-size: x-large;
  font-weight: 600;
  color: #422800;
  text-transform: capitalize;
}

.gameScore{
  position: absolute;
  bottom: 5vh;
  left: 2vh;
}

.gameButton {
  position: absolute;
  bottom: 5vh;
  right: 2vh;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.gameButton:hover {
  background-color: #fff;
}

.gameButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .gameButton {
    min-width: 120px;
    padding: 0 25px;
  }
}
